<div class="">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-9">
      <div class="d-flex justify-content-between align-items-center mb-5">
        <h4>Activities</h4>

        <div class="d-flex flex-row">
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Add New
          </button>
        </div>
      </div>
      <div class="card card-outer">
        <div class="row">
          <div class="inputs col-md-7 pb-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5f6368"
            >
              <path
                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
              />
            </svg>
            <input
              type="text"
              class="form-control form-control-search"
              placeholder="Search Activities..."
            />
          </div>

          <div class="col-md-5">
            <div class="cat-div">
              <!-- BEGIN ORDER RESULT -->
              <div class="align-content-end text-end">
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Order by <span class="caret"></span>
                </button>
                <ul
                  class="dropdown-menu dropdown-menu"
                  aria-labelledby="dropdownMenuButton1"
                >
                  <li><a class="dropdown-item" href="#">Name</a></li>
                  <li><a class="dropdown-item" href="#">Date</a></li>
                  <li><a class="dropdown-item" href="#">View</a></li>
                  <li><a class="dropdown-item" href="#">Rating</a></li>
                </ul>
              </div>

              <!-- END ORDER RESULT -->
            </div>
          </div>
          <!-- Cardo Row Start -->
          <div class="row">
            @for (activity of activityData; track $index) {
            <div class="col-lg-4">
              <!-- Category Card Start -->
               
                <div class="card card-margin">
                  <div class="card-header no-border">
                    <h5 class="card-title text-secondary">{{activity.activityCategory}}</h5>
                  </div>
                  <div class="card-body pt-0">
                    <div class="widget-49">
                      <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                          <span class="widget-49-date-day">Last modified</span>
                          <span class="widget-49-date-month">{{activity.modifiedDate}}</span>
                        </div>
                        <div class="widget-49-meeting-info">
                          <span class="widget-49-pro-title">{{activity.activityName}}</span>
                          <span class="widget-49-meeting-time"
                            >Panding Events: {{activity.events.length}}</span
                          >
                        </div>
                      </div>
                      <ol class="widget-49-meeting-points">
                        <span>{{activity.activityShortDescription}}</span>
                      </ol>
                      <div class="widget-49-meeting-action">
                        <a
                          routerLink="../activity-details"
                          class="btn btn-sm btn-outline-secondary px-4"
                          routerLink="../activity-details/{{activity.id}}"
                          >View Acticity</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
               
             
              <!-- Category Card End -->
            </div>
          }
          </div>
        </div>
      </div>
    </div>
    <div class="col-md ms-5">
      <app-side-notification></app-side-notification>
    </div>
  </div>
</div>

<!-- Add Form modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Your Activity</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Edit Form -->
        <div class="text-start">
          <div class="row">
            <div class="col-md-6">
              <label for="input1" class="form-label">Activity Title</label>
              <input type="text" class="form-control" id="input1" />
            </div>
            <div class="col-md-6">
              <label for="input2" class="form-label">Activity Category</label>
              <select id="input2" class="form-control">
                <option selected>Choose...</option>
                <option>Work</option>
                <option>Health</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <label for="input3" class="form-label">Activity Short Description less than 30 word</label>
          <input type="text" class="form-control" id="input3" />
          <div class="row">
            <div class="col-6">
              <div class="h4 pt-4">Events</div>
            </div>
            <div class="col-6 text-end pt-1">
              <button class="btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="48px"
                  viewBox="0 -960 960 960"
                  width="48px"
                  fill="#5985E1"
                >
                  <path
                    d="M450-450H200v-60h250v-250h60v250h250v60H510v250h-60v-250Z"
                  />
                </svg>
              </button>
            </div>
          </div>
          <hr />
          <table class="table-borderless w-100">
            <tbody>
              <tr>
                <td class="delete">
                  <br />
                  <button class="btn">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="24px"
                      viewBox="0 -960 960 960"
                      width="24px"
                      fill="#EA3323"
                    >
                      <path
                        d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
                      />
                    </svg>
                  </button>
                </td>
                <td>
                  <label for="input1" class="form-label">Name</label>
                  <input type="text" class="form-control" id="input1" />
                </td>
                <td class="w-50">
                  <label for="input1" class="form-label">Short Description</label>
                  <input type="text" class="form-control" id="input1" />
                </td>
                <td>
                  <label for="input1" class="form-label">Submit Date</label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    id="input1"
                  />
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- ADD Form Modal End -->
