<section class="vh-100 banner_part ">
    <div class="container py-5">
      <div class="row d-flex justify-content-center ">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-2">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-3">Please enter your login and password!</p>
  
                <div  class="form-outline form-white mb-4 text-start">
                     <label class="form-label" for="typeEmailX">Email / Username</label>
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                 
                </div>
  
                <div  class="form-outline form-white mb-4 text-start">
                    <label class="form-label pt-2" for="typePasswordX">Password</label>
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                 
                </div>
  
                <button  data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              </div>
  
              <div>
                <p class="mb-0">Don't have an account? <a routerLink="../signup" class="text-white fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
