<!--::banner part start::-->

<section class="banner_part">
    <div class="text-end pe-5 pt-3">
        <a routerLink="login" class="btn btn-primary btn-lg"> Login </a>
    </div>
    <div class="container">
       
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 row">
                <div class="banner_img d-none d-lg-block">
                    <img Src="assets/banner_img.png" width="500">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Do your Activities more organised way</h1>
                        <p>Our Activity Tracker Helps you to orginise your activity. 
                            it makes your projects and schedule more efficient and easy to use.
                        </p>
                        <a routerLink="signup" class="btn btn-primary btn-lg ">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/animate_icon/Ellipse_7.png" alt="" class="feature_icon_1 custom-animation1">
    <img src="assets/animate_icon/Ellipse_8.png" alt="" class="feature_icon_2 custom-animation2">
    <img src="assets/animate_icon/Ellipse_1.png" alt="" class="feature_icon_3 custom-animation3">
    <img src="assets/animate_icon/Ellipse_2.png" alt="" class="feature_icon_4 custom-animation4">
    <img src="assets/animate_icon/Ellipse_3.png" alt="" class="feature_icon_5 custom-animation5">
    <img src="assets/animate_icon/Ellipse_4.png" alt="" class="feature_icon_6 custom-animation6">
</section>
<!--::banner part start::-->